.message-row td {
  padding: 2em;
}

.clickable {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.inline-block-bottom {
  vertical-align: bottom;
}

.small-as-possible {
  width: 1%;
}

.detail-row td {
  padding-bottom: 2em;
}

.row-selected {
  background-color: #bc001622;
}

.row-selected:hover {
  background-color: #77464755 !important;
}

.drag-container {
  min-height: 60px;
  padding: 1em;
  background: #77464755;
  border: dotted 3px #25161755;
  /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
}

.drop-container {
  min-height: 60px;
  padding: 1em;background: #77464755;
  border: dotted 3px #25161755;
  /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
}

.nodrop .drop-row {
  display: none !important;
}
.nodrop .drop-cell {
  display: none !important;
}
.nodrop .drop-container {
  display: none !important;
}

.cdk-drop-list-dragging.acceptdrop td,th {
  border: none;
}

.mat-header-cell .dropdown-toggle {
  padding: 0;
  margin: 0;
}

/*
.mat-header-cell.maissize-default, .mat-cell.maissize-default {
}
*/

.mat-header-cell.maissize-min, .mat-cell.maissize-min {
  flex: 0 0 2%;
  min-width: 3em;
}

.mat-header-cell.maissize-xxs, .mat-cell.maissize-xxs {
  flex: 0 0 2%;
  min-width: 3em;
}
.mat-header-cell.maissize-xs, .mat-cell.maissize-xs {
  flex: 0 0 3%;
  min-width: 5em;
}
.mat-header-cell.maissize-s, .mat-cell.maissize-s {
  flex: 0 0 3%;
  min-width: 8em;
}
.mat-header-cell.maissize-m, .mat-cell.maissize-m {
  flex: 0 0 3%;
  min-width: 12em;
}
.mat-header-cell.maissize-l, .mat-cell.maissize-l {
  flex: 0 0 3%;
  min-width: 18em;
}
.mat-header-cell.maissize-xl, .mat-cell.maissize-xl {
  flex: 0 0 3%;
  min-width: 25em;
}
.mat-header-cell.maissize-xxl, .mat-cell.maissize-xxl {
  flex: 0 0 3%;
  min-width: 30em;
}

/* Porting */

.mat-table{
  border-collapse: collapse;
}

.mat-table,.mat-header-row,.mat-row{
  border-color: gray;
}
