<div class="mais-table">

  <div class="container-full px-4 py-5 table-actions table-actions--header"
    *ngIf="columnSelectionPossibleAndAllowed || filteringPossibleAndAllowed || headerActionsEnabledAndPossible || contextActionsEnabledAndPossible"
  >
    <div class="row">
      <div class="col-4" *ngIf="filteringPossibleAndAllowed">
        <form (submit)="applySelectedFilter()">
          <div>{{ 'table.common.messages.filter_prompt' | translate }}</div>
          <div class="input-group">
            <input type="text"
              class="form-control"
              [class.border-primary]="searchQueryActive && !searchQueryMalformed"
              [class.border-warning]="searchQueryMalformed"
              name="selectedSearchQuery"
              placeholder="{{ 'table.common.messages.filter_placeholder' | translate }}"
              aria-label="Search"
              [(ngModel)]="selectedSearchQuery"
              (focusout)="searchQueryFocusOut()"
            >

            <!-- DROPDOWN IN WEBKIT MODE -->
            <ng-container *ngIf="!compatibilityModeForDropDowns">
            <div class="input-group-append" ngbDropdown [autoClose]="'outside'">
              <button class="btn"
                [class.btn-black]="!searchQueryNeedApply || !searchQueryActive"
                [class.btn-primary]="searchQueryNeedApply && searchQueryActive"
                [class.border-primary]="searchQueryActive && !searchQueryMalformed"
                [class.border-warning]="searchQueryMalformed"
                type="submit" (click)="applySelectedFilter()"
                ><i class="fas fa-search"></i>
              </button>
              <button class="btn btn-black"
                [class.border-primary]="searchQueryActive && !searchQueryMalformed"
                [class.border-warning]="searchQueryMalformed"
                [class.btn-black]="!(selectedSearchQuery && noFilteringColumnshecked)"
                [class.btn-warning]="selectedSearchQuery && noFilteringColumnshecked"
                type="button" ngbDropdownToggle>
              </button>
              <div ngbDropdownMenu class="dropdown-menu">
                <div ngbDropdownItem class="dropdown-item">
                  <h6 class="dropdown-header">{{ 'table.common.messages.pick_filtering_columns' | translate }}</h6>
                </div>
                <button ngbDropdownItem class="dropdown-item">
                  <div class="form-group clickable">
                    <div class="form-check">
                      <input type="checkbox" [checked]="allFilteringColumnsChecked"
                        (change)="toggleAllFilteringColumnsChecked(); $event.stopPropagation();" />
                      <span  (click)="toggleAllFilteringColumnsChecked(); $event.stopPropagation();">
                        {{ 'table.common.messages.pick_all_filtering_columns' | translate }}
                      </span>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                </button>
                <ng-container *ngFor="let column of columns">
                <button ngbDropdownItem class="dropdown-item" [class.disabled]="!isFilterable(column)" *ngIf="hasLabel(column) && (isFilterable(column) || configFilteringShowUnfilterableColumns)">
                  <div class="form-group clickable">
                    <div class="form-check">
                      <input type="checkbox" [checked]="isColumnCheckedForFiltering(column)" *ngIf="isFilterable(column)"
                        (change)="toggleFilteringColumnChecked(column); $event.stopPropagation();" />
                      <input type="checkbox" [checked]="false" *ngIf="!isFilterable(column)" [disabled]="true" />
                      <span  (click)="toggleFilteringColumnChecked(column); $event.stopPropagation();">
                        {{ resolveLabel(column) }}
                      </span>
                    </div>
                  </div>
                </button>
                </ng-container>
              </div>
            </div>
            </ng-container>

            <!-- DROPDOWN IN IE11 COMPATIBILITY MODE -->
            <ng-container *ngIf="compatibilityModeForDropDowns">
            <div class="input-group-append" ngbDropdown [autoClose]="'outside'">
              <button class="btn"
                [class.btn-black]="!searchQueryNeedApply || !searchQueryActive"
                [class.btn-primary]="searchQueryNeedApply && searchQueryActive"
                [class.border-primary]="searchQueryActive && !searchQueryMalformed"
                [class.border-warning]="searchQueryMalformed"
                type="submit" (click)="applySelectedFilter()"
                ><i class="fas fa-search"></i>
              </button>
              <button class="btn btn-black"
                [class.border-primary]="searchQueryActive && !searchQueryMalformed"
                [class.border-warning]="searchQueryMalformed"
                [class.btn-black]="!(selectedSearchQuery && noFilteringColumnshecked)"
                [class.btn-warning]="selectedSearchQuery && noFilteringColumnshecked"
                type="button" ngbDropdownToggle>
              </button>
              <div ngbDropdownMenu class="dropdown-menu">
                <div ngbDropdownItem class="dropdown-item">
                  <h6 class="dropdown-header">{{ 'table.common.messages.pick_filtering_columns' | translate }}</h6>
                </div>
                <button ngbDropdownItem (click)="toggleAllFilteringColumnsChecked()">
                  <fa-icon [icon]="'check-square'" *ngIf="allFilteringColumnsChecked"></fa-icon>
                  <fa-icon [icon]="'square'" *ngIf="!allFilteringColumnsChecked"></fa-icon>
                  {{ 'table.common.messages.pick_all_filtering_columns' | translate }}
                  <div class="dropdown-divider"></div>
                </button>
                <ng-container *ngFor="let column of columns">
                <button ngbDropdownItem [class.disabled]="!isFilterable(column)" (click)="toggleFilteringColumnChecked(column)"
                  *ngIf="hasLabel(column) && (isFilterable(column) || configFilteringShowUnfilterableColumns)">
                  <fa-icon [icon]="'check-square'" *ngIf="isFilterable(column) && isColumnCheckedForFiltering(column)"></fa-icon>
                  <fa-icon [icon]="'square'" *ngIf="isFilterable(column) && !isColumnCheckedForFiltering(column)"></fa-icon>
                  <fa-icon [icon]="'square'" *ngIf="!isFilterable(column)"></fa-icon>
                  {{ resolveLabel(column) }}
                </button>
                </ng-container>
              </div>
            </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="col-3" *ngIf="columnSelectionPossibleAndAllowed">
        <div>{{ 'table.common.messages.customize_view_prompt' | translate }}</div>

        <!-- DROPDOWN IN WEBKIT MODE -->
        <ng-container *ngIf="!compatibilityModeForDropDowns">
        <div class="btn-group" ngbDropdown [autoClose]="'outside'">
            <button type="button" class="btn btn-black dropdown-toggle" ngbDropdownToggle>
              {{ 'table.common.messages.add_remove_columns' | translate }}
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <h6 ngbDropdownItem class="dropdown-header">
                {{ 'table.common.messages.select_columns_prompt' | translate }}
              </h6>
              <button ngbDropdownItem class="dropdown-item">
                <div class="form-group clickable">
                  <div class="form-check">
                    <input type="checkbox" [checked]="allVisibleColumnsChecked"
                      (change)="toggleAllVisibleColumnsChecked(); $event.stopPropagation();" />
                    <span  (click)="toggleAllVisibleColumnsChecked(); $event.stopPropagation();">
                      {{ 'table.common.messages.pick_all_visible_columns' | translate }}
                    </span>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
              </button>
              <ng-container *ngFor="let column of columns">
              <button ngbDropdownItem class="dropdown-item" [class.disabled]="!isHideable(column)" *ngIf="hasLabel(column) && (isHideable(column) || configColumnVisibilityShowFixedColumns)">
                <div class="form-group clickable">
                  <div class="form-check">
                    <input type="checkbox" [checked]="isColumnCheckedForVisualization(column)" *ngIf="isHideable(column)"
                      (change)="toggleVisibleColumnChecked(column); $event.stopPropagation();" />
                    <input type="checkbox" [checked]="true" *ngIf="!isHideable(column)" [disabled]="true" />
                    <span (click)="toggleVisibleColumnChecked(column); $event.stopPropagation();">
                      {{ resolveLabel(column) }}
                    </span>
                  </div>
                </div>
              </button>
              </ng-container>
            </div>
        </div>
        </ng-container>

        <!-- DROPDOWN IN IE11 COMPATIBILITY MODE -->
        <ng-container *ngIf="compatibilityModeForDropDowns">
          <div class="btn-group" ngbDropdown [autoClose]="'outside'">
              <button type="button" class="btn btn-black dropdown-toggle" ngbDropdownToggle>
                {{ 'table.common.messages.add_remove_columns' | translate }}
              </button>
              <div ngbDropdownMenu class="dropdown-menu">
                <h6 ngbDropdownItem class="dropdown-header">
                  {{ 'table.common.messages.select_columns_prompt' | translate }}
                </h6>
                <button ngbDropdownItem (click)="toggleAllVisibleColumnsChecked()">
                  <fa-icon [icon]="'check-square'" *ngIf="allVisibleColumnsChecked"></fa-icon>
                  <fa-icon [icon]="'square'" *ngIf="!allVisibleColumnsChecked"></fa-icon>
                  {{ 'table.common.messages.pick_all_visible_columns' | translate }}
                  <div class="dropdown-divider"></div>
                </button>
                <ng-container *ngFor="let column of columns">
                <button ngbDropdownItem *ngIf="hasLabel(column) && (isHideable(column) || configColumnVisibilityShowFixedColumns)"
                  [class.disabled]="!isHideable(column)" (click)="toggleVisibleColumnChecked(column)">
                    <fa-icon [icon]="'check-square'" *ngIf="isHideable(column) && isColumnCheckedForVisualization(column)"></fa-icon>
                    <fa-icon [icon]="'square'" *ngIf="isHideable(column) && !isColumnCheckedForVisualization(column)"></fa-icon>
                    <fa-icon [icon]="'check-square'" *ngIf="!isHideable(column)"></fa-icon>
                    {{ resolveLabel(column) }}
                </button>
                </ng-container>
              </div>
          </div>
          </ng-container>

      </div>
      <div class="col-3" *ngIf="!columnSelectionPossibleAndAllowed">
        <!-- FILLER -->
      </div>
      <div class="col-4" *ngIf="!filteringPossibleAndAllowed">
        <!-- FILLER -->
      </div>
      <div class="col-5 text-right">
        <div>
          <ng-template [ngTemplateOutlet]="actionsCaptionTemplate" [ngTemplateOutletContext]="{}"> </ng-template>
          &nbsp;
        </div>

        <ng-container *ngIf="headerActionsEnabledAndPossible">
        <button type="button" class="btn btn-{{ action.displayClass || 'light' }} {{ action.additionalClasses || '' }} mr-1" *ngFor="let action of headerActions"
          (click)="clickOnContextAction(action)" [disabled]="!isContextActionAllowed(action)"
        >
          {{ resolveLabel(action) }}
        </button>
        </ng-container>

        <div class="btn-group" ngbDropdown *ngIf="contextActionsEnabledAndPossible">
          <button class="btn btn-light dropdown-toggle" [disabled]="!anyButtonActionsAllowed" ngbDropdownToggle>{{ 'table.common.messages.actions_button' | translate }}</button>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>
              <h6 class="dropdown-header">{{ 'table.common.messages.pick_action' | translate }}</h6>
            </div>
            <button ngbDropdownItem *ngFor="let action of currentActions" (click)="clickOnContextAction(action)" [disabled]="!isContextActionAllowed(action)">
              {{ resolveLabel(action) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MAIN TABLE - WEBKIT MODE -->
  <ng-container *ngIf="!compatibilityModeForMainTable">
  <div class="table-responsive">
    <table class="table table-dark table-hover"
      cdkDropList
      id="{{currentTableId}}"
      [cdkDropListConnectedTo]="dropConnectedTo"
      (cdkDropListDropped)="handleItemDropped($event)"
      [cdkDropListData]="currentData"
      [cdkDropListEnterPredicate]="acceptDropPredicate"
      [cdkDropListSortingDisabled]="!acceptDrop"
      [class.nodrop]="!acceptDrop"
      [class.acceptdrop]="acceptDrop"
    >
      <caption class="d-none">{{ 'table.common.accessibility.caption' | translate }}</caption>
      <thead class="">
        <tr>
          <th scope="row" *ngIf="rowExpansionEnabledAndPossible" class="small-as-possible">
            <!-- empty header for row expansion -->
          </th>
          <th scope="row" *ngIf="currentEnableSelection" class="small-as-possible">
            <div class="form-check">
              <span *ngIf="currentEnableSelectAll && currentEnableMultiSelect && !noResults">
                <input type="checkbox" [checked]="allChecked" (change)="toggleAllChecked()" />
              </span>
            </div>
          </th>
          <th scope="row" *ngIf="contextFilteringEnabledAndPossible" style="width: 1%;"
            [class.border-primary]="anyContextFilterChecked" ngbDropdown [autoClose]="'outside'">
              <div class="form-check clickable" ngbDropdownToggle>
                <div class="dropdown show d-inline-block float-right">
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <h6 class="dropdown-header" ngbDropdownItem>
                        <span *ngIf="contextFilteringPrompt">
                          {{ contextFilteringPrompt | translate }}
                        </span>
                        <span *ngIf="!contextFilteringPrompt">
                          {{ 'table.common.messages.context_filter_prompt' | translate }}
                        </span>
                      </h6>
                      <div class="dropdown-item" ngbDropdownItem *ngFor="let filter of currentContextFilters">
                        <input type="checkbox" [checked]="isContextFilterChecked(filter)"
                          (change)="toggleContextFilterChecked(filter); $event.stopPropagation();" />
                          <span class="clickable" (click)="toggleContextFilterChecked(filter); $event.stopPropagation();">
                          {{ resolveLabel(filter) }}
                          </span>
                      </div>
                    </div>
                </div>
              </div>
          </th>
          <ng-container *ngFor="let column of visibleColumns">
            <th scope="col"
              [class.order-up]="isCurrentSortingColumn(column, 'ASC')"
              [class.order-down]="isCurrentSortingColumn(column, 'DESC')"
              [class.border-primary]="isCurrentSortingColumn(column)"
              [class.clickable]="isSortable(column)"
              (click)="clickOnColumn(column)"
            >
              <span *ngIf="isCurrentSortingColumn(column)">
                <span *ngIf="isCurrentSortingColumn(column, 'ASC')">
                  <button type="button" class="order-btn btn btn-none" (click)="clickOnColumn(column)"><i class="fas fa-long-arrow-alt-up"></i></button>
                </span>
                <span *ngIf="isCurrentSortingColumn(column, 'DESC')">
                  <button type="button" class="order-btn btn btn-none" (click)="clickOnColumn(column)"><i class="fas fa-long-arrow-alt-up"></i></button>
                </span>
              </span>
              <span *ngIf="isLabelVisibleInTable(column) && hasLabel(column)">
                {{ resolveLabel(column) }}
              </span>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody
        *ngIf="!showFetching && !forceReRender"
      >
        <tr class="start-row-hook d-none"></tr>
        <ng-container *ngFor="let row of currentData">
        <tr
          [class.row-selected]="isChecked(row)"
          class="data-row"
          cdkDrag
          [cdkDragData]="row"
          [cdkDragDisabled]="!acceptDrag"
        >
          <th scope="row" *ngIf="rowExpansionEnabledAndPossible">
            <fa-icon class="clickable" [icon]="'caret-square-down'" *ngIf="!isExpanded(row) && isExpandable(row)" (click)="clickOnRowExpansion(row)"></fa-icon>
            <fa-icon class="clickable" [icon]="'caret-square-up'" *ngIf="isExpanded(row)" (click)="clickOnRowExpansion(row)"></fa-icon>
          </th>
          <th scope="row" *ngIf="currentEnableSelection">
            <div class="form-check">
              <input type="checkbox" [checked]="isChecked(row)" (change)="toggleChecked(row)" />
            </div>
          </th>
          <td *ngIf="contextFilteringEnabledAndPossible">
            <!-- empty cell for context filtering -->
          </td>
          <ng-container *ngFor="let column of visibleColumns">
          <td>
            <div *ngIf="column.applyTemplate">
              <ng-template
                  [ngTemplateOutlet]="cellTemplate"
                  [ngTemplateOutletContext]="{ row: row, column: column, value: extractValue(row, column) }">
              </ng-template>
            </div>
            <div *ngIf="!column.applyTemplate">
              {{ extractValue(row, column) }}
            </div>
          </td>
          </ng-container>
          <td class="d-none">
            <tr *cdkDragPlaceholder class="drop-container" [hidden]="!referencedTable.acceptDrop">
              <td></td>
              <td [attr.colspan]="activeColumnsCount - 1" class="drop-cell">
                <div class="drop-container">
                  <ng-template
                      [ngTemplateOutlet]="referencedTable.dropTemplate"
                      [ngTemplateOutletContext]="{ row: row }">
                  </ng-template>
                </div>
              </td>
            </tr>
          </td>
          <td class="d-none">
            <div *cdkDragPreview class="drag-container">
              <ng-template
                [ngTemplateOutlet]="dragTemplate"
                [ngTemplateOutletContext]="{ row: row }">
              </ng-template>
            </div>
          </td>
        </tr>
        <tr *ngIf="rowExpansionEnabledAndPossible && isExpanded(row)" class="detail-row">
          <td></td>
          <td [attr.colspan]="activeColumnsCount - 1">
            <div class="row-expansion-container">
              <ng-template
                  [ngTemplateOutlet]="rowDetailTemplate"
                  [ngTemplateOutletContext]="{ row: row }">
              </ng-template>
            </div>
          </td>
        </tr>
        </ng-container>
      </tbody>
      <ng-container *ngIf="!showFetching && noResults">
      <tbody>
        <tr class="message-row no-results-row">
          <td [attr.colspan]="activeColumnsCount" class="text-center">
            {{ 'table.common.messages.no_results' | translate }}
          </td>
        </tr>
      </tbody>
      </ng-container>
      <ng-container *ngIf="showFetching">
      <tbody>
        <tr class="message-row fetching-row">
          <td [attr.colspan]="activeColumnsCount" class="text-center">
            {{ 'table.common.messages.fetching' | translate }}
          </td>
        </tr>
      </tbody>
      </ng-container>
    </table>
  </div>
  </ng-container>

  <!-- MAIN TABLE - IE11 COMPATIBILITY MODE -->
  <ng-container *ngIf="compatibilityModeForMainTable">
  <div class="table-responsive" *ngIf="matTableDataObservable">

    <mat-table
      #renderedMatTable
      [dataSource]="matTableDataObservable"
      class="table table-dark table-hover"
      cdkDropList
      id="{{currentTableId}}"
      [cdkDropListConnectedTo]="dropConnectedTo"
      (cdkDropListDropped)="handleItemDropped($event)"
      [cdkDropListData]="currentData"
      [cdkDropListEnterPredicate]="acceptDropPredicate"
      [cdkDropListSortingDisabled]="!acceptDrop"
      [class.nodrop]="!acceptDrop"
      [class.acceptdrop]="acceptDrop"
      *ngIf="!showFetching && !forceReRender"
    >
      <!-- User name Definition -->
      <ng-container [matColumnDef]="'internal___col_row_expansion'">
        <mat-header-cell *matHeaderCellDef class="maissize-min">
          <!-- EMPTY -->
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="maissize-min">
          <fa-icon class="clickable" [icon]="'caret-square-down'" *ngIf="!isExpanded(row) && isExpandable(row)" (click)="clickOnRowExpansion(row)"></fa-icon>
          <fa-icon class="clickable" [icon]="'caret-square-up'" *ngIf="isExpanded(row)" (click)="clickOnRowExpansion(row)"></fa-icon>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="'internal___col_row_selection'">
        <mat-header-cell *matHeaderCellDef class="maissize-min">
          <div class="form-check">
            <span *ngIf="currentEnableSelectAll && currentEnableMultiSelect && !noResults">
              <input type="checkbox" [checked]="allChecked" (change)="toggleAllChecked()" />
            </span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="maissize-min">
          <div class="form-check">
            <input type="checkbox" [checked]="isChecked(row)" (change)="toggleChecked(row)" />
          </div>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="'internal___col_context_filtering'">
        <mat-header-cell *matHeaderCellDef class="maissize-min">
          <div
            [class.border-primary]="anyContextFilterChecked"
            ngbDropdown
            [autoClose]="'outside'"
            [container]="'body'"
          >
            <div class="form-check clickable" ngbDropdownToggle>
              <div class="dropdown show d-inline-block float-right">
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <h6 class="dropdown-header" ngbDropdownItem>
                      <span *ngIf="contextFilteringPrompt">
                        {{ contextFilteringPrompt | translate }}
                      </span>
                      <span *ngIf="!contextFilteringPrompt">
                        {{ 'table.common.messages.context_filter_prompt' | translate }}
                      </span>
                    </h6>
                    <div class="dropdown-item" ngbDropdownItem *ngFor="let filter of currentContextFilters">
                      <input type="checkbox" [checked]="isContextFilterChecked(filter)"
                        (change)="toggleContextFilterChecked(filter); $event.stopPropagation();" />
                        <span class="clickable" (click)="toggleContextFilterChecked(filter); $event.stopPropagation();">
                        {{ resolveLabel(filter) }}
                        </span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="maissize-min">
          <!-- EMPTY -->
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="'internal___col_row_detail'">
        <mat-cell *matCellDef="let detail">
          <div class="row-expansion-container">
            <ng-template
                [ngTemplateOutlet]="rowDetailTemplate"
                [ngTemplateOutletContext]="{ row: detail.___parentRow }">
            </ng-template>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="column.name" *ngFor="let column of matTableVisibleColumns">
        <mat-header-cell *matHeaderCellDef class="maissize-{{ column.size || 'default' }}" >
          <div
            class="{{ column.headerDisplayClass || '' }}"
            [class.order-up]="isCurrentSortingColumn(column, 'ASC')"
            [class.order-down]="isCurrentSortingColumn(column, 'DESC')"
            [class.border-primary]="isCurrentSortingColumn(column)"
            [class.clickable]="isSortable(column)"
            (click)="clickOnColumn(column)">
            <span *ngIf="isCurrentSortingColumn(column)">
              <span *ngIf="isCurrentSortingColumn(column, 'ASC')">
                <button type="button" class="order-btn btn btn-none" (click)="clickOnColumn(column)"><i class="fas fa-long-arrow-alt-up"></i></button>
              </span>
              <span *ngIf="isCurrentSortingColumn(column, 'DESC')">
                <button type="button" class="order-btn btn btn-none" (click)="clickOnColumn(column)"><i class="fas fa-long-arrow-alt-up"></i></button>
              </span>
            </span>
            <span *ngIf="isLabelVisibleInTable(column) && hasLabel(column)">
              {{ resolveLabel(column) }}
            </span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="maissize-{{ column.size || 'default' }} {{ column.cellDisplayClass || '' }}">
          <div *ngIf="column.applyTemplate">
            <ng-template
                [ngTemplateOutlet]="cellTemplate"
                [ngTemplateOutletContext]="{ row: row, column: column, value: extractValue(row, column) }">
            </ng-template>
          </div>
          <div *ngIf="!column.applyTemplate">
            {{ extractValue(row, column) }}
          </div>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="matTableVisibleColumnDefs"></mat-header-row>
      <mat-row *matRowDef="let row; columns: matTableVisibleColumnDefs;"
        class="element-row data-row"
        [class.expanded]="isMatTableExpanded(row)"
        [class.row-selected]="isChecked(row)"
        cdkDrag
        [cdkDragData]="row"
        [cdkDragDisabled]="!acceptDrag"
      ></mat-row>
      <mat-row *matRowDef="let row; columns: ['internal___col_row_detail']; when: isMatTableExpansionDetailRow"
          [@detailExpand]="isMatTableExpanded(row) ? 'expanded' : 'collapsed'"
          style="overflow: hidden">
      </mat-row>
    </mat-table>

    <ng-container *ngIf="!showFetching && noResults">
    <div class="message-row no-results-row">
      <p class="alert alert-primary text-center">
        {{ 'table.common.messages.no_results' | translate }}
      </p>
    </div>
    </ng-container>
    <ng-container *ngIf="showFetching">
    <div class="message-row fetching-row">
      <p class="alert alert-primary text-center">
        {{ 'table.common.messages.fetching' | translate }}
      </p>
    </div>
    </ng-container>

  </div>
  </ng-container>

  <div class="container-full px-4 py-4 table-actions table-actions--footer"
    *ngIf="currentEnablePagination || headerActionsEnabledAndPossible || contextActionsEnabledAndPossible"
  >
    <div class="row">
        <div class="col-7">
          <ng-container *ngIf="currentResultNumber > 0 && currentEnablePagination">
          <div class="inline-block inline-block-bottom">
            <div class="pagination-caption">
              {{ 'table.common.pagination.total_elements' | translate:{ totalElements: currentResultNumber, totalPages: currentPageCount } }}
            </div>
            <nav aria-label="pagination" class="pagination-links">
              <ul class="pagination">
                <li class="page-item clickable" [class.disabled]="!(currentPageIndex > 0)">
                  <a class="page-link" (click)="switchToPage(0)">{{ 'table.common.pagination.first_page' | translate }}</a>
                </li>
                <li class="page-item clickable" [class.disabled]="!(currentPageIndex > 0)">
                  <a class="page-link" (click)="switchToPage(currentPageIndex - 1)">{{ 'table.common.pagination.previous_page' | translate }}</a>
                </li>
                <ng-container *ngFor="let page of enumPages">
                <li class="page-item clickable" [class.active]="page === currentPageIndex" *ngIf="!page.skip">
                  <a class="page-link" (click)="switchToPage(page)">
                    {{ page + 1 }}
                    <span class="sr-only" *ngIf="page === currentPageIndex">(current)</span>
                  </a>
                </li>
                <li class="page-item" *ngIf="page.skip">
                  <a class="page-link">
                    ...
                  </a>
                </li>
                </ng-container>
                <li class="page-item clickable" [class.disabled]="currentPageIndex >= (currentPageCount - 1)">
                  <a class="page-link" (click)="switchToPage(currentPageIndex + 1)">{{ 'table.common.pagination.next_page' | translate }}</a>
                </li>
                <li class="page-item clickable" [class.disabled]="currentPageIndex >= (currentPageCount - 1)">
                  <a class="page-link" (click)="switchToPage(currentPageCount - 1)">{{ 'table.common.pagination.last_page' | translate }}</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="inline-block inline-block-bottom pl-2">
            <span ngbDropdown *ngIf="pageSizeSelectEnabledAndPossible">
              <div>
                &nbsp;
              </div>
              <button class="btn btn-black dropdown-toggle" ngbDropdownToggle>{{ 'table.common.messages.page_size_button' | translate:{current: currentPageSize} }}</button>
              <span ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let pageSize of currentPossiblePageSizes" (click)="clickOnPageSize(pageSize)" [disabled]="pageSize === currentPageSize">
                  {{ pageSize }}
                </button>
              </span>
            </span>
          </div>
          </ng-container>
        </div>
        <div class="col-5 text-right">
          <div>
            <ng-template [ngTemplateOutlet]="actionsCaptionTemplate" [ngTemplateOutletContext]="{}"> </ng-template>
            &nbsp;
          </div>

          <ng-container *ngIf="headerActionsEnabledAndPossible">
            <button type="button" class="btn btn-{{ action.displayClass || 'light' }} {{ action.additionalClasses || '' }} mr-1" *ngFor="let action of headerActions"
            (click)="clickOnContextAction(action)" [disabled]="!isContextActionAllowed(action)"
          >
            {{ resolveLabel(action) }}
          </button>
          </ng-container>

          <div class="btn-group" ngbDropdown *ngIf="contextActionsEnabledAndPossible">
            <button class="btn btn-light dropdown-toggle" [disabled]="!anyButtonActionsAllowed" ngbDropdownToggle>{{ 'table.common.messages.actions_button' | translate }}</button>
            <div ngbDropdownMenu>
              <div ngbDropdownItem>
                <h6 class="dropdown-header">{{ 'table.common.messages.pick_action' | translate }}</h6>
              </div>
              <button ngbDropdownItem *ngFor="let action of currentActions" (click)="clickOnContextAction(action)" [disabled]="!isContextActionAllowed(action)">
                {{ resolveLabel(action) }}
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
