
 table {
   border-collapse: collapse
 }

 caption {
   padding-top: .75rem;
   padding-bottom: .75rem;
   color: #767676;
   text-align: left;
   caption-side: bottom
 }

 th {
   text-align: inherit
 }

 table {
   border-collapse: collapse
 }

 caption {
   padding-top: .75rem;
   padding-bottom: .75rem;
   color: #767676;
   text-align: left;
   caption-side: bottom
 }

 th {
   text-align: inherit
 }

 .table {
   width: 100%;
   margin-bottom: 1rem;
   color: #fff;
   background-color: rgba(0, 0, 0, 0)
 }

 .table th,
 .table td {
   padding: .75rem;
   vertical-align: top;
   border-top: 1px solid #767676
 }

 .table thead th {
   vertical-align: bottom;
   border-bottom: 2px solid #767676
 }

 .table tbody+tbody {
   border-top: 2px solid #767676
 }

 .table-sm th,
 .table-sm td {
   padding: .3rem
 }

 .table-bordered {
   border: 1px solid #767676
 }

 .table-bordered th,
 .table-bordered td {
   border: 1px solid #767676
 }

 .table-bordered thead th,
 .table-bordered thead td {
   border-bottom-width: 2px
 }

 .table-borderless th,
 .table-borderless td,
 .table-borderless thead th,
 .table-borderless tbody+tbody {
   border: 0
 }

 .table-striped tbody tr:nth-of-type(odd) {
   background-color: rgba(0, 0, 0, 0.05)
 }

 .table-hover tbody tr:hover {
   color: #fff;
   background-color: rgba(0, 0, 0, 0.075)
 }

 .table-primary,
 .table-primary>th,
 .table-primary>td {
   background-color: #f7b8bf
 }

 .table-primary th,
 .table-primary td,
 .table-primary thead th,
 .table-primary tbody+tbody {
   border-color: #f07a88
 }

 .table-hover .table-primary:hover {
   background-color: #f4a1aa
 }

 .table-hover .table-primary:hover>td,
 .table-hover .table-primary:hover>th {
   background-color: #f4a1aa
 }

 .table-secondary,
 .table-secondary>th,
 .table-secondary>td {
   background-color: #d9d9d9
 }

 .table-secondary th,
 .table-secondary td,
 .table-secondary thead th,
 .table-secondary tbody+tbody {
   border-color: #b8b8b8
 }

 .table-hover .table-secondary:hover {
   background-color: #ccc
 }

 .table-hover .table-secondary:hover>td,
 .table-hover .table-secondary:hover>th {
   background-color: #ccc
 }

 .table-success,
 .table-success>th,
 .table-success>td {
   background-color: #c3e6cb
 }

 .table-success th,
 .table-success td,
 .table-success thead th,
 .table-success tbody+tbody {
   border-color: #90d19e
 }

 .table-hover .table-success:hover {
   background-color: #b1dfbb
 }

 .table-hover .table-success:hover>td,
 .table-hover .table-success:hover>th {
   background-color: #b1dfbb
 }

 .table-info,
 .table-info>th,
 .table-info>td {
   background-color: #bee5eb
 }

 .table-info th,
 .table-info td,
 .table-info thead th,
 .table-info tbody+tbody {
   border-color: #86cfda
 }

 .table-hover .table-info:hover {
   background-color: #abdde5
 }

 .table-hover .table-info:hover>td,
 .table-hover .table-info:hover>th {
   background-color: #abdde5
 }

 .table-warning,
 .table-warning>th,
 .table-warning>td {
   background-color: #ffeeba
 }

 .table-warning th,
 .table-warning td,
 .table-warning thead th,
 .table-warning tbody+tbody {
   border-color: #ffdf7f
 }

 .table-hover .table-warning:hover {
   background-color: #ffe8a1
 }

 .table-hover .table-warning:hover>td,
 .table-hover .table-warning:hover>th {
   background-color: #ffe8a1
 }

 .table-danger,
 .table-danger>th,
 .table-danger>td {
   background-color: #f7b8bf
 }

 .table-danger th,
 .table-danger td,
 .table-danger thead th,
 .table-danger tbody+tbody {
   border-color: #f07a88
 }

 .table-hover .table-danger:hover {
   background-color: #f4a1aa
 }

 .table-hover .table-danger:hover>td,
 .table-hover .table-danger:hover>th {
   background-color: #f4a1aa
 }

 .table-light,
 .table-light>th,
 .table-light>td {
   background-color: #fcfcfc
 }

 .table-light th,
 .table-light td,
 .table-light thead th,
 .table-light tbody+tbody {
   border-color: #f9f9f9
 }

 .table-hover .table-light:hover {
   background-color: #efefef
 }

 .table-hover .table-light:hover>td,
 .table-hover .table-light:hover>th {
   background-color: #efefef
 }

 .table-dark,
 .table-dark>th,
 .table-dark>td {
   background-color: #c6c6c6
 }

 .table-dark th,
 .table-dark td,
 .table-dark thead th,
 .table-dark tbody+tbody {
   border-color: #959595
 }

 .table-hover .table-dark:hover {
   background-color: #b9b9b9
 }

 .table-hover .table-dark:hover>td,
 .table-hover .table-dark:hover>th {
   background-color: #b9b9b9
 }

 .table-active,
 .table-active>th,
 .table-active>td {
   background-color: rgba(0, 0, 0, 0.075)
 }

 .table-hover .table-active:hover {
   background-color: rgba(0, 0, 0, 0.075)
 }

 .table-hover .table-active:hover>td,
 .table-hover .table-active:hover>th {
   background-color: rgba(0, 0, 0, 0.075)
 }

 .table .thead-dark th {
   color: #fff;
   background-color: #333;
   border-color: #464646
 }

 .table .thead-light th {
   color: #505050;
   background-color: #e7e7e7;
   border-color: #767676
 }

 .table-dark {
   color: #fff;
   background-color: #333
 }

 .table-dark th,
 .table-dark td,
 .table-dark thead th {
   border-color: #464646
 }

 .table-dark.table-bordered {
   border: 0
 }

 .table-dark.table-striped tbody tr:nth-of-type(odd) {
   background-color: rgba(255, 255, 255, 0.05)
 }

 .table-dark.table-hover tbody tr:hover {
   color: #fff;
   background-color: rgba(255, 255, 255, 0.075)
 }

 @media (max-width: 575.98px) {
   .table-responsive-sm {
     display: block;
     width: 100%;
     overflow-x: auto;
     -webkit-overflow-scrolling: touch
   }
   .table-responsive-sm>.table-bordered {
     border: 0
   }
 }

 @media (max-width: 767.98px) {
   .table-responsive-md {
     display: block;
     width: 100%;
     overflow-x: auto;
     -webkit-overflow-scrolling: touch
   }
   .table-responsive-md>.table-bordered {
     border: 0
   }
 }

 @media (max-width: 991.98px) {
   .table-responsive-lg {
     display: block;
     width: 100%;
     overflow-x: auto;
     -webkit-overflow-scrolling: touch
   }
   .table-responsive-lg>.table-bordered {
     border: 0
   }
 }

 @media (max-width: 1199.98px) {
   .table-responsive-xl {
     display: block;
     width: 100%;
     overflow-x: auto;
     -webkit-overflow-scrolling: touch
   }
   .table-responsive-xl>.table-bordered {
     border: 0
   }
 }

 .table-responsive {
   display: block;
   width: 100%;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch
 }

 .table-responsive>.table-bordered {
   border: 0
 }
